
body{
    font-family: "Bai Jamjuree", sans-serif !important;
  }
  p{
    font-family: "Nunito Sans", sans-serif !important;
    margin-bottom: 5px !important;
    font-size: 16px;
  }
  section.Topbar {
    background: #323232;
    padding: 10px 0;
  }

  section.Topbar p {
    color: #fff;

  }
  .Side {
    border-right: 1px solid white;
    margin-right: 20px;
    padding: 0 20px;
  }
  .Main-nav {
    padding: 40px 0 !important;
  }
  .Main-nav .navbar-nav {
    gap: 25px;
    align-items: center;
  }
  .Main-nav .navbar-nav a {
    font-family: "Poppins", sans-serif !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.33px;
    color: #1E1E1E;
    vertical-align: middle;
  }
  .cntnct.nav-link {
    background: #323232;
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #fff !important;
    margin-left: 40px;
    padding: 16px 40px !important;
  }

  /* Hero Banner */

  section.Main-banner {
    background-image: url(./assets/Imgs/Baner.jpg);
    height: 658px;
    align-content: end;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 11;
  }
  section.Main-banner h1 {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .searc-bar {
    background: #1E1E1E !important;
    padding: 20px 50px;
    margin-top: 48px;
    gap: 45px;
  }

  .set-out button {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 0;

  }
  .searc-bar .input-group input.form-control {
    background: unset;
    border-radius: 0;
    border-left: none;
    padding: 10px;
  }
  .searc-bar  span.input-group-text {
    background: unset;
    border-right: none;
    border-radius: 0;
  }

  .searc-bar  button.btn.btn-primary {
    background: #ffffff;
    color: #000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 12px 43px;
    border-radius: 0;
    border: none;
  }

  input.form-control::placeholder{
    color: rgba(255, 255, 255, 0.514);
  }
  input.form-control:focus {
    box-shadow: unset;
    color: unset;
    border-color: #fff;
  }
  .searc-bar .me-2.input-group {
    width: 635px;
    color: #fff !important;
    border-color:  #fff ;
  }
  input.form-control {
    color: white;
    font-family: "Bai Jamjuree", sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  }

  /* Welcom Section */
  section.welcome {
    padding: 80px 0px;
    background: #F3F3F3;
    position: relative;
  }
  section.welcome h3.text-primary {
    font-family: 'Poppins', sans-serif !important;;
    font-weight: 700;
    font-size: 100px;
    line-height: 150%;
    color:  #064685 !important;
    text-align: left;
  }
  section.welcome .card p {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    color: #323232;
    line-height: 188%;
    text-align: left;

  }

  section.welcome  .card {
    border: none;
    padding: 0 0px 20px 20px;
    background: unset;
  }
  .right {
    border-bottom: 1px solid #0000003D;
    border-right: 1px solid #0000003D;
  }
  .only-right{
    border-right: 1px solid #0000003D;
  }
  .only-bottom{
    border-bottom: 1px solid #0000003D;

  }
  .same-head {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .same-head p {
    width: 100%;
    max-width: 85%;
  }
  .same-head-p {
    font-weight: 400;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif !important;

    line-height: 150%;
  }
  .scrol-top {
    position: absolute;
    top: -50%;
  }

  /* Featurs Section */

  section.featured {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  button.btn.btn-dark {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 12px 42px;
    border-radius: 0 !important ;
  }
  section.featured .row .features-list {
    border-right: 1px solid #B8B8B8;

  }
  section.featured .row .features-list .card{
    border: none !important;
    padding: 25px;
  }
  section.featured .row .features-list .card img {
    border-radius: 0;
  }
  .full.container {
    max-width: 100% !important;
  }
  section.featured .row{
    padding: 0px 60px;
  }
  section.featured .row:nth-child(2){
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
  }
  .blogs .row {
    padding: unset !important;
}
  section.featured .row .features-list:nth-child(1){
    border-left: 1px solid #B8B8B8;

  }
  button.Up-arrow-btn.btn.btn-primary {
    background: #064685 !important;
    border: none;
    border-radius: 0;
    height: 70px;
    margin-top: 20px;
    width: 70px;
  }

  section.featured .card-title.h5 {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
  }
  section.featured p.card-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #323232 !important;

    text-transform: uppercase;
  }
  .btn-loc span {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background: #E6E6E6;
    padding: 10px;
    border-radius: 100px;
    margin-right: 10px;
  }
  .uper-space{
    padding: 0 !important;
    padding-top: 35px !important;
  }

  /* Cta Section */

  section.Cta{
    padding: 80px 0px;
    background-image: url(./assets/Imgs/Cta-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  section.Cta h2 {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  section.Cta p {
    color: #fff;
    position: relative;
    z-index: 2;
  }

section.Cta button.btn.btn-dark {
  position: relative;
  z-index: 2;
}
  img.back-roll {
    position: absolute;
    top: -45%;
    right: 3%;
    height: 500px;
    width: 500px;
    animation: rotate-animation 10s infinite linear;
}

  /* Social Section */
  section.social-proof {
    padding-top: 80px;
    padding-bottom: 40px;
  }


  .socail-name {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 400;
    font-size: 36px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .social-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .inner-set {
    padding: 20px;
    padding-top: 50px;
  }
  .sticky-box.card{
    background-color: unset !important;
  }
  .sticky-box .card-body {
    /* backdrop-filter: blur(4px); */
    background: #FFFFFF33;
    height: 600px;
    overflow: scroll;

  }
  .sticky-box .card-body div:first-child {
    backdrop-filter: blur(4px);
  }
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .sticky-box .card-body::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
  }

  /* Hide scrollbar for Firefox */
  .sticky-box .card-body {
    scrollbar-width: none;
    /* Firefox */
  }

  /* Hide scrollbar for Internet Explorer and Edge */
  .sticky-box .card-body{
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
  }

  /* Optional: If you want to ensure that the content is still scrollable */
  .sticky-box .card-body {
    overflow: auto;
    /* Ensure the content can still be scrolled */
  }
  /* section.social-proof:before {
    background-image: url(./assets/Imgs/back-scrol.png);
    position: absolute;
    content: '';
    top: 10%;
    left: 0px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center top;
    z-index: -1;
  } */
  img.soc-img {
    position: absolute;
    top: 11%;
    left: 38%;
    WIDTH: 500PX;
    object-fit: contain;
    HEIGHT: 500PX;
    animation: rotate-animation 10s infinite linear;
}
  section.featured .row .features-list .card img {
    border-radius: 0;
    position: relative;
    z-index: +1;
  }
  /* Blogs  */
  section.featured .row .features-list .card :before{
    background-image: url(./assets/Imgs/blg.png);
    position: absolute;
    content: '';
    top: 7px;
    left: -5px;
    bottom: 0;
    right: 10px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: top right;
    z-index: 0;
  }


  .blogs .row {
    border: none !important;
  }
  .blogs .card {

    padding: 0;
  }
  .blogs .features-list {
    border: none !important;
  }
  .blogs .uper-space.card-body {
    border: 0.5px solid #B8B8B8 !important;
      padding: 20px !important;
    border-top: none;
  }

  .blogs .uper-space.card-body p {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 180%;
    letter-spacing: 0%;
  }
  .top-set {
    position: absolute;
    top: 45px;
  }
  span.black {
    background: black;
    color: white;
  }

  /* Footer */
  footer{
    background-color: #F3F3F3;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .ft-font {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }
  footer ul{
    gap: 15px;
  }
  footer ul a {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .border-top {
    border-color: #808080 !important;
  }
  .copyright {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .scrol-top{
		animation: rotate-animation 10s infinite linear;

  }
  span.Counter-no {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700;
    font-size: 100px;
    line-height: 150%;
    color: #064685 !important;
    text-align: left;
}





  /* Rotating Animation */

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



  @media screen and (max-width: 1400px) {
    .cntnct.nav-link {
      margin-left: 0;
      padding: 12px 12px !important;
  }
  section.Main-banner h1 {

    font-size: 80px;
}
span.Counter-no {
  font-size: 75px;
}
section.welcome h3.text-primary {
  font-size: 75px;

}

section.featured .row .features-list .card {
  padding: 20px;
}
section.featured .card-title.h5 {

  font-size: 25px;

}
.same-head {

  font-size: 42px;

}
.socail-name {

  font-size: 30px;

}
.social-p {
  font-size: 15px;

}
.blogs .row {
  padding: 0 !important;
}
  }