
body{
    font-family: "Bai Jamjuree", sans-serif !important;
  }
  p{
    font-family: "Nunito Sans", sans-serif !important;
    margin-bottom: 5px !important;
    font-size: 16px;
  }
  section.Topbar {
    background: #323232;
    padding: 10px 0;
  }
  .navbar-expand-md .navbar-collapse {

    justify-content: end;
}
.top-co p {
  font-size: 18px;
}
  p.Logo {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    font-family: "Darker Grotesque", sans-serif !important;
}
  section.Topbar p {
    color: #fff;

  }
  .Side {
    border-right: 1px solid white;
    margin-right: 20px;
    padding: 0 20px;
  }
  .Main-nav {
    padding: 20px 0 !important;
    border-bottom: 1px solid #B8B8B8;
  }
  .Main-nav .navbar-nav {
    gap: 25px;
    align-items: center;
  }
  .Main-nav .navbar-nav a {
    font-family: "Poppins", sans-serif !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.33px;
    color: #1E1E1E;
    vertical-align: middle;
  }
  .cntnct.nav-link {
    background: #064685;
    font-size: 20px !important;
    font-weight: 500 !important;
    color: #fff !important;
    margin-left: 40px;
    padding: 16px 40px !important;
  }

  /* Hero Banner */

  section.Main-banner {
    background-image: url(./assets/Imgs/Baner.png);
    height: 658px;
    align-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 11;
  }
  section.Main-banner h1 {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 600;
    font-size: 90px;
    line-height: 100%;
    color: #064685;
    text-transform: uppercase;
  }
  .searc-bar {
    background: #064685 !important;
    padding: 20px 50px;
    margin-top: 48px;
    gap: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .searc-bar a.dropdown-item {
    color: #064685 !important;
}
  .set-out button {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 0;

  }
  .searc-bar .input-group input.form-control {
    background: unset;
    border-radius: 0;
    border-left: none;
    padding: 10px;
  }
  .searc-bar  span.input-group-text {
    background: unset;
    border-right: none;
    border-radius: 0;
  }

  .searc-bar  button.btn.btn-primary {
    background: #ffffff;
    color: #000;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 12px 43px;
    border-radius: 0;
    border: none;
  }

  input.form-control::placeholder{
    color: rgba(255, 255, 255, 0.514);
  }
  input.form-control:focus {
    box-shadow: unset;
    color: unset;
    border-color: #fff;
  }
  .searc-bar .me-2.input-group {
    width: 635px;
    color: #fff !important;
    border-color:  #fff ;
  }
  input.form-control {
    color: white;
    font-family: "Bai Jamjuree", sans-serif !important;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;

  }

  /* Welcom Section */
  section.welcome {
    padding: 80px 0px;
    background: #EFF7FE;
    position: relative;
  }
  section.welcome h3.text-primary {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 700;
    font-size: 100px;
    line-height: 150%;
    color:  #064685 !important;
    text-align: left;
  }
  section.welcome .card p {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 400;
    font-size: 18px;
    color: #323232;
    line-height: 188%;
    text-align: left;

  }

  section.welcome  .card {
    border: none;
    padding: 0 0px 20px 20px;
    background: unset;
  }
  .right {
    border-bottom: 1px solid #0000003D;
    border-right: 1px solid #0000003D;
  }
  .only-right{
    border-right: 1px solid #0000003D;
  }
  .only-bottom{
    border-bottom: 1px solid #0000003D;

  }
  .same-head {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #064685;
    position: relative;
    z-index: +9999;

  }
  .same-head p {
    width: 100%;
    max-width: 85%;
    position: relative;
    z-index: +9999;
  }
  .same-head-p {
    font-weight: 400;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif !important;
    position: relative;
    z-index: +9999;
    line-height: 150%;
  }
  .scrol-top {
    position: absolute;
    top: -50%;
  }

  /* Featurs Section */

  section.featured {
    padding-top: 120px;
    padding-bottom: 80px;
  }
  button.btn.btn-dark {
    font-family: "Poppins", sans-serif !important;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    padding: 12px 42px;
    border-radius: 0 !important ;
  }
  section.featured .row .features-list {
    border-right: 1px solid #B8B8B8;
    z-index: -1 ;


  }
  section.featured .row .features-list .card{
    border: none !important;
    padding: 25px;
    border-radius: 0;
    z-index: -1;


  }
  section.featured .row .features-list .card img {
    border-radius: 0;
    z-index: -1;

  }
  .full.container {
    max-width: 100% !important;
  }
  section.featured .row{
    padding: 0px 60px;
    z-index: -1;
  }
  section.featured .row:nth-child(2){
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
  }
  .blogs .row {
    padding: unset !important;
}
  section.featured .row .features-list:nth-child(1){
    border-left: 1px solid #B8B8B8;

  }
  a.Up-arrow-btn.btn.btn-primary {
    background: #064685 !important;
    border: none;
    border-radius: 0;
    height: 70px;
    margin-top: 20px;
    width: 70px;
    align-content: center;
  }
  button.Up-arrow-btn.btn.btn-primary {
    background: #064685 !important;
    border: none;
    border-radius: 0;
    height: 70px;
    margin-top: 20px;
    width: 70px;
  }

  section.featured .card-title.h5 {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    color: #064685;

  }
  section.featured p.card-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #064685 !important;

    text-transform: uppercase;
  }
  .btn-loc span {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 500;
    font-size: 12px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background: #EFF7FE;
    padding: 10px;
    border-radius: 100px;
    margin-right: 10px;
  }
  .uper-space{
    padding: 0 !important;
    padding-top: 35px !important;
  }

  /* Cta Section */

  section.Cta{
    padding: 80px 0px;
    background-image: url(./assets/Imgs/Cta-banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  section.Cta h2 {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  section.Cta p {
    color: #fff;
    position: relative;
    z-index: 2;
  }

section.Cta button.btn.btn-dark {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  color: #1E1E1E;
  border: none !important;
}
  img.back-roll {
    position: absolute;
    top: -45%;
    right: 3%;
    height: 500px;
    width: 500px;
    animation: rotate-animation 10s infinite linear;
}

  /* Social Section */
  section.social-proof {
    padding-top: 80px;
    padding-bottom: 40px;
  }


  .socail-name {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 400;
    font-size: 36px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .social-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .inner-set {
    padding: 20px;
    padding-top: 50px;
  }
  .sticky-box.card{
    background-color: unset !important;
  }
  .sticky-box .card-body {
    /* backdrop-filter: blur(4px); */
    background: #FFFFFF33;
    height: 600px;
    overflow: scroll;

  }
  .sticky-box .card-body div:first-child {
    backdrop-filter: blur(4px);
  }
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .sticky-box .card-body::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
  }

  /* Hide scrollbar for Firefox */
  .sticky-box .card-body {
    scrollbar-width: none;
    /* Firefox */
  }

  /* Hide scrollbar for Internet Explorer and Edge */
  .sticky-box .card-body{
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
  }

  /* Optional: If you want to ensure that the content is still scrollable */
  .sticky-box .card-body {
    overflow: auto;
    /* Ensure the content can still be scrolled */
  }
  /* section.social-proof:before {
    background-image: url(./assets/Imgs/back-scrol.png);
    position: absolute;
    content: '';
    top: 10%;
    left: 0px;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center top;
    z-index: -1;
  } */
  img.soc-img {
    position: absolute;
    top: 11%;
    left: 38%;
    WIDTH: 500PX;
    object-fit: contain;
    HEIGHT: 500PX;
    animation: rotate-animation 10s infinite linear;
}
  section.featured .row .features-list .card img {
    border-radius: 0;
    position: relative;
    z-index: +1;
  }
  /* Blogs  */
  /* section.featured .features-list .card:before{
    background-image: url(./assets/Imgs/blg.png);
    position: absolute;
    content: '';
    top: 7px;
    left: -5px;
    bottom: 0;
    right: 10px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: top right;
    z-index: -1;

  } */



  .blogs .row {
    border: none !important;
  }
  .blogs .card {

    padding: 0;
  }
  .blogs .features-list {
    border: none !important;
  }
  .blogs .uper-space.card-body {
    border: 0.5px solid #B8B8B8 !important;
      padding: 20px !important;
    border-top: none !important;
  }

  .blogs .uper-space.card-body p {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 180%;
    color: #323232 !important;  }
  .top-set {
    position: absolute;
    top: 45px;
    z-index: +99999999999999999;
  }
  span.black {
    background: #064685;
    color: white;
  }

  /* Footer */
  footer{
    background:  #064685;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .footer-logo p.Logo {
    text-align: left;
    font-size: 96px;
}
  .ft-font {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
  }
  footer ul{
    gap: 15px;
  }
  footer ul a {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .border-top-set {
    border-color: #ffffff78 !important;
    border-top: 1px solid;
  }
  .copyright {
    font-family: "Nunito Sans", sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .scrol-top{
		animation: rotate-animation 10s infinite linear;

  }
  span.Counter-no {
    font-family: "Bai Jamjuree", sans-serif !important;
    font-weight: 700;
    font-size: 100px;
    line-height: 150%;
    color: #064685 !important;
    text-align: left;
}
img.foter-logo {
  width: 200px;
}

footer p,a,h6{
  color: #ffffff !important;
}
.set-wi {
  width: 90%;
  border-bottom: 1px solid #ffffff78;
  padding-bottom: 20px;
}
.Main-nav a {
  color: #064685 !important;
}
.cntnct.nav-link {

  color: #fff !important;

}
section.Disclamer {
  background: #EFF7FE;
  padding: 60px 0;
}
.Dis {
  font-family: "Bai Jamjuree", sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #323232 !important;
}
/* Blog Page */


.Blogs-banner{
  background-image: url(/src/assets/Imgs/Blog-banner.png) !important;
  background-position: unset !important;
}

.blog-select button {
  font-family: "Bai Jamjuree", sans-serif !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-right: 15px;
}
button.active {
  background: #064685 !important;
  border: none;

}

button.latest {
  background: #EFF7FE;
  border: none;
  color: #1E1E1E;
}
.all-blogs {
  padding-top: 0 !important;
}

span.date.badge {
  background: #064685 !important;
  color: #fff !important;
  padding: 10px 15px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 12px;
  line-height: 110.00000000000001%;
  text-transform: uppercase;
}

span.apartmanet.badge {
  background: #EFF7FE !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #1E1E1E;
  padding: 10px 15px;
  border-radius: 100px;
  margin-left: 20px;
}

.blog-h {
  font-family: "Bai Jamjuree", sans-serif !important;
  font-weight: 600;
  font-size: 85px;
  line-height: 100%;
  text-transform: uppercase;
  color: #064685;
}
.blog-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #323232 !important;
  width: 88%;
}

p.author {
  color: #064685 !important;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  margin-top: 20px;
}

section.blog-text {
  border: 1px solid  #B8B8B8;
  border-left: none;
  border-radius: none;

}

.all-border {
  padding: 50px 40px !important;
  border: 1px solid  #B8B8B8;
  border-bottom: none;
  border-top: none;
}

.all-border p {
  font-weight: 500;
  font-size: 22px;
  line-height: 180%;
  letter-spacing: 0%;
  vertical-align: middle;
}

/* About us page */

.About-banner{
  background-image: url(/src/assets/Imgs/About.jpg) !important;
}
.about-sloc img.scrol-top {
  top: -68%;
}
.services-section{
  background-image: url(/src/assets/Imgs/Serv-about.jpg) ;
padding: 80px 0;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.services-section .section-title {
  font-weight: bold;
}

.services-section .section-subtitle {
}
.head-serv {
  padding-bottom: 50px;
}

.service-row p {
  width: 90%;
}

.service-row.border-white {
  border-color: #fffffe94 !important;
  padding: 50px 0px !important;
}
.service-row {
  padding: 25px 0px !important;
}
.head-serv h3.section-title {
  font-size: 48px;
}
.services-section p {
  font-size: 18px;
}
.services-section h5{
font-size: 36px;
}
.assistance-section {
padding: 80px 0 !important;
  position: relative;
}


.assistance-section h6 {
  color: #323232 !important;
  font-size: 36px;
}



.assistance-section p{
  font-size: 18px;
}

.step-text {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 30px;
  padding: 40PX 0;
  margin-left: 10%;
}
.connect,.select,.buy,.cus {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.step-text img {
  position: relative;
  top: 37px;
}
.assistance-section h5.step-number {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: transparent;
  -webkit-text-stroke: 2px #808080;
  text-stroke: 2px #808080;
  margin-top: 10px;
}

.step-box img {
  position: relative;
  left: 30px;
}


.connect {
  position: relative;

}
.select {
  position: relative;
  padding-left: 18% !important;
  margin-top: -11em !important;
}
.buy {
  position: relative;
  padding-left: 35% !important;
  margin-top: -11em !important;
}
.cus {
  position: relative;
  padding-left: 53% !important;
  margin-top: -11em !important;
}
.side-set {
  position: absolute;
  right: -15%;
  animation: rotate-animation 10s infinite linear;
}
.alliance.row .brdr {
  border-right: 1px solid #B8B8B8;
  align-content: center;
  padding: 30px;

}
.alliance.row .brdr:nth-child(1){
  border-left: 1px solid #B8B8B8;
}
.alliance.row {
  border: 1px solid #B8B8B8;
  border-left: none;
  border-right:none;
}
section.achivments {
  background: #F3F3F3;
}


section.achivments .card {
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: unset !important;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: unset !important;
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: unset !important;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: unset !important;
  background-clip: border-box;
  border: unset !important;
  border-radius:unset !important;
}
.achiv h5 {
  font-size: 32px;
  font-weight: 400 !important;
  color: #323232 !important;
}
.achiv p{
  font-size: 20px ;
  font-weight: bold !important;
  color: #323232 !important;

}


.achiv {
  border: 1px solid #B8B8B8 !important;
  backdrop-filter: blur(10px)  !important;
  background: #FFFFFF4D !important;
}


img.corner {
  position: absolute;
  right: -32px;
  top: -60px;
}


.achivments.row .mb-4.col-md-6:nth-child(2){
  margin-top: 80px;
}

.achivments.row .mb-4.col-md-6:nth-child(3){
  margin-top: -80px;
}

.achivments.row .mb-4.col-md-6:nth-child(5){
  margin-top: -80px;
}

.achivments.row .mb-4.col-md-6:nth-child(7){
  margin-top: -80px;
}

.over {
  height: 640px;
}
.over::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 0px rgb(255, 254, 254);
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.over::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

/* Hide scrollbar for Firefox */
.over {
  scrollbar-width: none;
  /* Firefox */
}

/* Hide scrollbar for Internet Explorer and Edge */
.over {
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}

/* Optional: If you want to ensure that the content is still scrollable */
.over {
  overflow: auto;
  /* Ensure the content can still be scrolled */
}

section.achivments {
  padding-bottom: 0 !important;
}

.why-us {
  background-image: url(/src/assets/Imgs/Serv-about.jpg);
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.why-choose.card {
  background: unset !important;
  border: 1px solid #fff !important;
  border-radius: 0 !important;
  padding: 30px;
  min-height: 300px;
  justify-content: center;
}

.why-choose.card h5 {
  color: #fff;
  font-size: 28px;
}

.why-choose.card p {
  color: #fff  !important;
  font-size: 18px;
}

.blog-page .features-list {
  z-index: +111 !important;
}

.baner-iner {
  height: 100%;
  min-height: 560px;
  align-content: center;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}


.privacy{
  background-image: url(./assets/Imgs/privacy.jpg);

}
.terms {
  background-image: url(./assets/Imgs/Term.jpg);

}
.disclamer{
  background-image: url(./assets/Imgs/Dis.jpg);

}
.btm-space {
  margin-bottom: 80px;
}

.list-term li {
  font-size: 20px;
  color: #1E1E1E !important;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif !important;
  margin-bottom: 30px !important;


}

.form-set {
  background: #064685;
  padding: 60px 50px;
}
.form-set h5 {
 color: #fff;
 text-align: center;
 text-transform: uppercase;
 margin-bottom: 40px;
 font-size: 24px;
 font-weight: 600;
}
.form-control {
  background: unset !important;
  border-width: 0.5px !important;
  border-radius: 0 !important;
  color: #fff !important;
}

input#agreeCheck {
  border-radius: 0;
}

.form-set  button.btn.btn-light.text-dark {
  font-size: 20px;
  font-family: "Poppins", sans-serif !important;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 40px;
  font-weight: 600;
  border-radius: 0;
  margin-top: 1em;
}
.cntnct {
  padding-left: 50px;
}
.cntnct li {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px !important;
}
.cntnct li img {
  margin-right: 30px;
}
.cntnct {
  padding-left: 50px;
  border-left: 1px solid #B8B8B8;
}
.contact-set {
  padding: 0 !important;

}
.btm-s {
  padding: 50px !important;

}
.project-baner{
  height: 100%  !important;
  min-height: 778px;
  background-image:url(./Project/p.jpg) !important;
  padding-top: 20px;


}

 .pr{
  border: none;

 }
 .pr {
  position: absolute  !important;
  top: 10px;
  width: 100%;
  left: 0;
}
.info {
  position: absolute;
  bottom: 0;
  width: 100%;
}
 .pr div#basic-navbar-nav {
  justify-content: center;
}
span.brkr {
  margin: 0 10px;
}

.project-baner h1 {
  color: #fff !important;
}
.project-baner p {
  color: #fff !important;
}
.project-baner a {
  color: #fff !important;
}

.navbar-nav a {
  font-family: 'Nunito Sans' !important;
}

.pr a.nav-link {
  font-family: 'Nunito Sans' !important;

}
.pr a.cntnct.nav-link {
  color: #000 !important;
  background: #fff;
  font-weight: 600 !important;

}
p.loction {
  margin: 30px 0 !important;
}
.project-baner .searc-bar{
  position: relative !important;
  margin-top: 40px  !important;
  padding:  20px;
  background: #fff  !important;


}

.top-line-info p {
  text-align: right;
  width: 95%;
  font-size: 20px;
  font-family: "Bai Jamjuree", sans-serif !important;
}

.project-baner form {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
span.diff-color {
  color: #064685 !important;
}
.set-ww {
  width: 100%;
  max-width: 250px !important;
}
.long-one {
  width: 365px !important;
}

.project-baner .searc-bar input {
  height: 40px !important;
  color: #000 !important;
}
.project-baner .searc-bar input::placeholder {
  color: #000;
}

input#agreeCheck {
  height: 1em !important;
}

.project-baner .searc-bar .form-set {
  padding: 0;
  background: #fff  !important;

}
.project-baner .searc-bar .form-set button {
  margin: 0 !important;
  padding: 5px 20px !important;
    height: 40px;
}
label.form-check-label {
  margin: 0;
  font-size: 12px;
  color: #323232;
  font-weight: 500;
}
.form-check.text-white {
  width: 11%;
  margin: 0;
  padding: 0;
}
.project-baner .searc-bar .form-set h5{
color: #064685  !important;
}
.project-baner .searc-bar  button.btn.btn-light.text-dark {
  background: #064685;
  color: #fff !important;
  padding: 5px 40px !important;
}
.project-baner .searc-bar p{
  color: #000  !important;
}
.lastbar {
  padding: 20px 0px;
  text-align: center;
  background: #064685;
}

.lastbar h6 {
  margin: 0;
  font-size: 28px;
}
.overview button.btn.btn-light.text-dark {
  background: #064685;
  color: #fff !important;
  padding: 12px 42px;
  border-radius: 0;
  margin-top: 20px;
  font-weight: 500;
  font-family: "Poppins", sans-serif !important;}


  .res img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}
.res .card {
  padding: 25px !important;
}
.btm-s .form-check.mb-3.text-white {
  width: unset;
  padding: unset;
  margin: unset;
  position: relative;
  left: 25px;
}
.btm-s .form-check.mb-3.text-white label.form-check-label {
  margin: unset;
  color: unset;
  font-size: unset;
  text-align: center !important;
}
img.home-struct {
  width: 100%;
}
section.list-home {
  padding-top: 80px;
}

.struk-li   li {
  font-size: 20px;
}

.home-text {
  margin-bottom: 80px;
}





















  /* Rotating Animation */

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

