:root {
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1500px) {
  .container {
    max-width: 1440px !important;
  }

}
img.Move {
  position: absolute;
  z-index: +999999999999999999999999999999999999999999;
}


.dots {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0);
}

.cursor-down {
  position: absolute;
  bottom: 20px;
  font-size: 40px;
  color: #333;
}

.scroll-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s ease-in-out;
}
.navbar-brand img {
  width: 142px;
}
.circle-image {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin: 0 20px;
}

.rocket-image {
  position: absolute;
  top: 47px;
  left: 138px;
  transition: transform 0.3s ease;
  z-index: +999999999999999999999999999999999999999;
}

main#All {
  overflow-x: hidden;
}

.scroll-section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  z-index: +999999999;
}

.circle-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  scale: 0.5;
  transition: opacity 0.5s ease, scale 0.5s ease;
  box-shadow: 0 0 10px rgba(255, 20, 147, 0.7);
}


#circle1 {
  top: 20%;
  left: 20%;
}

#circle2 {
  top: 50%;
  left: 50%;
}

#circle3 {
  top: 80%;
  left: 80%;
}

.glow-effect {
  box-shadow: 0 0 20px rgba(255, 20, 147, 1);
}




























.animated-logo {
  position: relative;
  width: 100%;
}

.image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}

.rocket-image.main-image {
  width: 100%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.split-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  opacity: 0;
  z-index: 1;
}

.split-image {
  width: 100px;
  height: auto;
  transition: filter 0.3s ease;
}

.features-row {
  position: relative;
}

.dip-column {
  transition: background-color 0.3s ease;
  position: relative;
  min-height: 200px;
}

.dipped {
  filter: hue-rotate(90deg);
}



.Cta .banner-button {
  transition: transform 0.3s ease-out;
}

.split-images img {
  transition: opacity 0.5s, transform 0.5s;
}

.card {
  transition: background-color 0.5s ease;
z-index: +9999;
}

img#rocket-image {
  opacity: 0 !important;
}

